body {
  background-color: rgba(0, 0, 0, 0.03);
  font-family: "Source Code Pro", "Roboto Mono", "Consolas", "Courier Prime",
    "Courier", monospace;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
}

a,
a:visited {
  color: #0070d6;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 112, 214, 0.2);
}

ul > li {
  margin-bottom: 0.4em;
}

elm-canvas {
  display: block;
  background-color: white;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.07);
}
